<div class="homebanner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t4.ftcdn.net/jpg/02/47/18/05/360_F_247180504_znprMYCYt6jaK30XfnQyVPRFMQ8M6BYv.jpg);">
  <div class="container">
   <h1>Rent a tool</h1>
        <p><li>Want to put a painting and has no hammer?</li></p>
        <p><li>The closet has arrived and has no screwdriver?</li></p>
        <p><li>Do you have unused home tools and want to make some extra money?</li></p>
  </div>
</div>


<div class="container mt-5">
      <div class="d-flex card-trip-flow">
          <%= image_tag "Fluxo_Tools_For_You.jpg", width: "900px" , style: "padding-right: 5px" %>
          <div class="homeflow">
             <p>Tools for you</p>
              <div class="homeflow-click mt-3">
                <p>Find a tools you need to finish your work</p>
                <%= link_to "Rent a tool",  tools_path, class:"btn btn-flat", style: "color: grey"; %>
              </div>
              <div class="homeflow-click mt-3">
                <p>Rent your tools and make some money</P>
                <%= link_to "Put a tool for rent",  new_tool_path, class:"btn btn-flat", style: "color: grey"; %>
              </div>


          </div>
      </div>
</div>

<div class="footer mt-5">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
