.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  &:hover{
    transform: scale(1.10, 1.10);
  }
}

.card-trip > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.container .card-product {
  height: 700px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}


.card-product.img {
  background-size: cover;
  height: 100%;
  background-position-x: center;
  background-position-y: center;
}

.card-product.text {
  padding-left: 20px;
}

.card-product.img > img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.how-img img{
  height: 13rem;
  width: 13rem;
  &:hover{
    transform: scale(1.10, 1.10);
  }
}

.how-img{
  margin-top: 5rem;
  margin-bottom: 5rem;
  p{
    margin: 2rem;
    font-size: 1.5rem;
  };
}

.how-works {
  h3{
    padding-top: 2rem;
    font-size: 2.2rem;
  }
}
