.homebanner {
  background-size: cover;
  background-position: center;
  height: 500px;
}

.homebanner h2 {
  margin: 0;
  letter-spacing: 0.2rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.491);
  text-align: center;
  font-size: 4rem;
  font: $headers-font;
  font-weight: 700;
}

.homebanner p {
  font-size: 2rem;
  color: white;
  opacity: 1;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.homeflow {
  background-color: grey;
  padding: 10px;
  width: 100%;
}

.homeflow p {
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: white;
}

.homeflow-click p {
  font-size: 16px;
  color: white;
}

.homeflow-click {
  text-align: center;
}

.form-home {
  width: 500px;
}
