.navbar-lewagon {
  justify-content: space-between;
  background: $dark;
  a {
    color: $light;
  }
  a.nav-title{
    color: $yellow;
    text-decoration: none;
    font-size: 1.8rem;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
